		<div class="card card-padding">
			<h1>Avaliações físicas - Histórico</h1>


			<div class="avaliacao-historico">
				<div class="table-responsive">
					<table class="table table-striped">
						<tr>
							<th>Data</th>
							<th>Professor</th>
							<th>BF</th>
							<th>Peso</th>
							<th>Visualizar</th>
						</tr>
						<tr>
							<td>12/06/2014</td>
							<td>Henrique Barreto</td>
							<td>28%</td>
							<td>79kg</td>
							<td><a href="">Visualizar</a></td>
						</tr>
						<tr>
							<td>16/12/2012</td>
							<td>Henrique Barreto</td>
							<td>31%</td>
							<td>78kg</td>
							<td><a href="">Visualizar</a></td>
						</tr>
						<tr>
							<td>12/10/2011</td>
							<td>Henrique Barreto</td>
							<td>32%</td>
							<td>80kg</td>
							<td><a href="">Visualizar</a></td>
						</tr>
						<tr>
							<td>12/12/2010</td>
							<td>Henrique Barreto</td>
							<td>34%</td>
							<td>90kg</td>
							<td><a href="">Visualizar</a></td>
						</tr>
					</table>
				</div>
				
			</div>	
		</div>