<div class="card card-padding">
	<h1>Configuracões - notificações</h1>
	<p>Escolha as suas configurações de notificação</p>
	

	<div class="configuracao-form">
		

		<form class="form-horizontal">
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" checked>
					Receber notificações por e-mail
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" checked>
					Receber notificações dentro da área do aluno
				</label>
			</div>
			<hr/>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" checked>
					Receber e-mails da administração da academia
				</label>
			</div>
			<br/>


			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success">Salvar</button>
				</div>
			</div>
		</form>

	</div>

</div>