<div class="card card-padding">
	<div class="page-header">
		<h1>3. Dobras cutâneas <small>Método 7 dobras de Pollock</small></h1>
	</div>
	<div class="avaliacao-form">
		
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Subescapular</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.dobras.subescapular" type="text" class="form-control" placeholder="123 mm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Tríceps</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.dobras.triceps" type="text" class="form-control" placeholder="123 mm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Peitoral</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.dobras.peitoral" type="text" class="form-control" placeholder="123 mm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Axilar média</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.dobras.axilarMedia" type="text" class="form-control" placeholder="123 mm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Supra-ilíaca</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.dobras.supraIliaca" type="text" class="form-control" placeholder="123 mm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Abdôminal</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.dobras.abdominal" type="text" class="form-control" placeholder="123 mm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Femural médio</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.dobras.femuralMedio" type="text" class="form-control" placeholder="123 mm">
				</div>
			</div>
			<a href="file:///C:/Users/Henrique/Desktop/Projeto%20final%20-%20web/paginas/cadastro%20avalicao%20-%20resultado.html" class="btn btn-success pull-right">Próximo</a>
			<div class="clearfix"></div>
		</form>
	</div>
</div>