<div class="card card-padding">
	<div class="page-header">
		<h1>2. Perimetria</h1>
	</div>
	<div class="avaliacao-form">
		
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Ombro</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.ombro" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Tórax</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.torax" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Abdominal</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.abdominal" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>
			<hr/>
			<div class="form-group">
				<label class="col-sm-2 control-label">Glúteo</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.gluteo" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Coxa superior</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.coxaSuperior" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Coxa média</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.coxaMedia" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Coxa inferior</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.coxaInferior" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>
			<hr/>
			<div class="form-group">
				<label class="col-sm-2 control-label">Bíceps contraído</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.bicepsContraido" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Bíceps frio</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.biceps" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Antebraço</label>
				<div class="col-sm-10">
					<input ng-model="avaliacaoCtrl.perimetria.antebraco" type="text" class="form-control" placeholder="123 cm">
				</div>
			</div>

			<button ng-click="avaliacaoCtrl.nextPerimetria()" class="btn btn-success pull-right">Próximo</button>
			<div class="clearfix"></div>
		</form>
	</div>
</div>