<div class="row">
	<div class="col-md-6">
		<div class="card card-padding">
			<h2>Buscar alunos</h2>

			<form class="form-inline">
				<div class="form-group">
					<label for="exampleInputName2">Nome</label>
					<input type="text" class="form-control" id="exampleInputName2" placeholder="Nome aluno">
					<button class="btn btn-success" type="submit">Buscar <span class="glyphicon glyphicon-search"></span></button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card card-padding">
			<h2>Cadastrar aluno</h2>
			<a ui-sref="secretaria.cadastrar" class="btn btn-success">Cadastrar aluno</a>
		</div>
	</div>
</div>

<div class="card card-padding">
	<h2>Solicitações - Agendamento de Avaliação Física</h2>		
	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>Aluno</th>
				<th>Horário</th>
				<th>Data</th>
				<th>Visualizar</th>	
			</tr>
			<tr>
				<td>Henrique Gonçalves Barreto</td>
				<td>10:00 às 11:00</td>
				<td>24/01/2016</td>
				<td><a href="">Visualizar</a></td>
			</tr>
			<tr>
				<td>Michel Temer</td>
				<td>15:00 às 16:00</td>
				<td>26/01/2016</td>
				<td><a href="">Visualizar</a></td>
			</tr>
			<tr>
				<td>Henrique Gonçalves Barreto</td>
				<td>08:00 às 09:00</td>
				<td>29/01/2016</td>
				<td><a href="">Visualizar</a></td>
			</tr>
		</table>
	</div>
</div>